<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" {+if $rkey==0+}oncontextmenu="return false"{+/if+}>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{+$title+}</title>
<script language="javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
{+section name=i loop=$mess+}
//alert("{+$mess[i].content+}");
{+/section+}
</script>
{+if ($status!=1)+}
<script type="text/javascript">
    alert("抱歉!你的帐号已被冻结（只限结帐功能可用），请和上级联系。{+$status+}");
</script>
{+/if+}
<body class="{+$skin+}">
<script type="text/javascript" id="myjs">var mulu='{+$mulu+}';
var js=1;
var sss='xy';
window.location.href='/uxj/top.php';
</script>
</body>
</html>
